<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="login registration">
        <title>Login/Registration - Product Listing</title>
    </head>
    <body>
        <div id="login_container">

            <h2>Login</h2>
            <form action='/sessions' method='POST'>
                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <label for="email">Email:</label><input type="text" name="email" value="<%= @user.email %>"><%= flash[:name] %><br>
                <label for="password">Password:</label><input type="password" name="password" > <%= flash[:password] %><br>
                <input type="submit" value="Login" class="buttons">
            </form>

            <%= link_to "Not a user, please register for full access", new_user_path %>
            <br>
        </div>
    </body>
</html>
